.container{
    margin-left: 45%;
    margin-top:10%;
}

#add,#subtract,#multiply,#divide{
    border: none;
    width: 60px;
    height: 30px;
}

#add{
    background-color: #4285F4;
}

#subtract{
    background-color: #DB4437;
}

#multiply{
    background-color:#F4B400 ;
}

#divide{
    background-color: #0F9D58;
} 

input{
     margin-top:5px;
     text-align:center;
}

.ops{
    margin-left:-50px;
    margin-top:10px;
    margin-bottom:10px;
}
